<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: 피부타입 진단 결과 및 사용자 제품 판별 :::</title>
    <link rel="stylesheet" href="../static/css/index4_style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Cropper.js CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cropperjs/dist/cropper.min.css">
</head>

<body>
    <div class="overlay"></div>
    <div class="memo-container"><div class="memo"></div></div>
    <a href="/" class="img-container">
        <img class="img" src="../static/images/main_image.jpg" alt="no image">
    </a>
    <form id="form" class="form-signin" id="form" method=post enctype=multipart/form-data>
        <div class="main">
            <h2 id="ment1"></h2>
            <h3 id="ment2"></h3>
            <div class="nav">
                <img id="ex_img"
                    src="https://mblogthumb-phinf.pstatic.net/20150622_243/sol_2love_1434968211939ny7g8_JPEG/1.jpg?type=w2"
                    alt="Image">
                <br><h4> ! 사진과 같이 제품의 전성분 부분만 잘라서 업로드해주세요 </h4><br>
            </div>
            <div class="section">
                <button id="upload-img" class="btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    사진 첨부 하기
                </button>
            </div>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            data-backdrop="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- 모달 제목 -->
                        <h4 class="modal-title" id="myModalLabel">이미지 첨부하기</h4>
                        <!-- 모달 닫기 버튼 -->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="width: 500px;">
                        <!-- 파일 선택을 위한 input 요소 -->
                        <input type="file" name="file" class="form-control-file" id="inputfile" onchange="previewImage(this);">
                        <!-- 파일 선택한 이미지를 미리보기 할 img 요소 -->
                        <img id="preview" src="" alt="" style="max-width: 100%; max-height: 100%; margin-top: 10px;">
                    </div>
                    <div class="modal-footer">
                        <!-- 이미지 회전을 위한 버튼 -->
                        <button type="button" class="modal-btn btn-default" id="rotate_reset"> 처음으로 </button>
                        <button type="button" class="modal-btn btn-default" id="rotate_left"> 왼쪽회전 </button>
                        <button type="button" class="modal-btn btn-default" id="rotate_right"> 오른쪽회전 </button>
                        <!-- 모달 닫기 버튼 -->
                        <button type="button" class="modal-btn btn-default" data-dismiss="modal">취소</button>
                        <!-- 이미지 자르기 완료 후 확인 버튼 -->
                        <button type="button" class="modal-btn btn-primary" id="crop">확인</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div id="load">
        <img src='../static/images/loading.gif' alt="loading">
    </div>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Cropper.js JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/cropperjs/dist/cropper.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#load').hide(); // 로딩 스피너 숨김
            $('form').submit(function() {
                $('.main').hide(); // main 숨김
                $('.nav').hide(); // nav 숨김
                $('.section').hide(); // section 숨김
                $('#load').show(); // 로딩 스피너 표시
            });
        });

        let concern_list = localStorage.getItem('concern_list');
        concern_list = JSON.parse(concern_list); // string을 배열로 변환

        let type = localStorage.getItem('type');
        document.getElementById("ment1").innerHTML = `${type}타입이며 ${concern_list}이(가) 필요한 타입입니다.`;
        document.getElementById("ment2").innerHTML = `지금 ${type} 타입과 ${concern_list}에 맞는 화장품을 쓰고 있나요?`;

        // Cropper 객체
        var cropper;

        // 이미지 미리보기를 위한 함수
        function previewImage(input) {
            // 파일이 선택되었는지 확인
            if (input.files && input.files[0]) {
                // FileReader 객체를 생성하여 파일을 읽음
                var reader = new FileReader();
                // 파일 읽기가 완료되면 실행할 콜백 함수
                reader.onload = function (e) {
                    // 미리보기 이미지의 소스를 설정
                    $('#preview').attr('src', e.target.result);

                    cropper = new Cropper($('#preview')[0], {
                        aspectRatio: NaN, // 종횡비 설정 : 자유롭게
                        viewMode: 2, // 보기 모드 설정
                        dragMode: 'move' // 드래그 모드 설정
                    });
                }
                // 파일 읽기 시작
                reader.readAsDataURL(input.files[0]);
            }
        }

        // 모달이 닫힐 때 실행할 함수
        $('#myModal').on('hidden.bs.modal', function () {
            if (cropper) {
                // Cropper 객체 해제
                cropper.destroy();
                cropper = null;
                // 파일 선택 폼 초기화
                $('#file').val("");
                // 이미지 미리보기 초기화
                $('#preview').attr('src', "");
            };
        });

        // 회전 버튼 클릭 시 실행할 함수
        $('#rotate_right').click(function () {
            // 현재 이미지 회전 각도를 가져옴
            var currentAngle = cropper.getData().rotate;
            // 90도씩 회전
            var newAngle = currentAngle + 2;
            // 회전 각도가 360도를 넘어가면 0도로 초기화
            if (newAngle >= 360) {
                newAngle = 0;
            }
            // 이미지 회전
            cropper.rotateTo(newAngle);
        });

        // 회전 버튼 클릭 시 실행할 함수
        $('#rotate_left').click(function () {
            // 현재 이미지 회전 각도를 가져옴
            var currentAngle = cropper.getData().rotate;
            // 90도씩 회전
            var newAngle = currentAngle - 2;
            // 회전 각도가 360도를 넘어가면 0도로 초기화
            if (newAngle >= 360) {
                newAngle = 0;
            }
            // 이미지 회전
            cropper.rotateTo(newAngle);
        });
        
        // 회전상태 되돌리기
        $('#rotate_reset').click(function () {
            cropper.rotateTo(0);
        });

        // 확인 버튼 클릭 시 실행할 함수
        $('#crop').click(function () {
            // 이미지를 자른 캔버스 객체 생성
            var canvas = cropper.getCroppedCanvas();
        
            // 캔버스를 이미지 파일로 변환
            if (canvas) {
                // 이미지를 자르고 Blob 형태로 가져오기
                canvas.toBlob(function (croppedImageBlob) {        
                    // 자른 이미지 표시하기
                    const url = URL.createObjectURL(croppedImageBlob);
                    const img = document.createElement('img');
                    img.src = url;
                    
                    // 대상 요소 찾기
                    const section = document.querySelector('.section');
                    
                    // 이미지 추가
                    img.style.height = 'auto';
                    img.style.width = 'auto';
                    img.style.maxHeight = '220px';
                    img.style.maxWidth = '500px';
                    img.style.display = 'block';
                    img.style.margin = 'auto';
                    img.style.top = '50%';
                    section.insertBefore(img, section.firstChild); // section 태그의 첫 번째 자식으로 이미지 추가
                    $('#upload-img').remove(); //사진첨부하는 버튼 없애기
                    $('.section').append('</br><button class="btn" id="send-img" type="submit">결과 보기</button>');

                    // 모달 창 닫기
                    $('#myModal').modal('hide');
                });
            } else {
                alert("이미지를 업로드해주세요!");
            }
        }); 
    </script>
</body>

</html>