<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: Main Page :::</title>
    <link rel="stylesheet" href="../static/css/index0_style.css">
</head>
<body>
    <div class="overlay"></div>
    <div class="img-container">
        <img class="img" src="../static/images/main_image.jpg" alt="no image">
    </div>
    <div class="main">
        <h2> 사용자 맞춤 스킨케어 추천 서비스 PAPILLON 은 </h2>
        <h4> 피부타입 및 피부고민을 기반으로 사용중인 화장품의 주의성분 유무를 판단하고 , </h4>
        <h4> 피부타입과 고민에 좋은 성분을 함유하는 제품을 추천해드립니다. </h4>
        <button class="btn" onclick="location.href='/main'"> 피부타입 진단하러가기 </button>
    </div>
</body>
</html>