<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>::: 피부고민 및 피부타입 진단 :::</title>
    <link rel="stylesheet" href="../static/css/index0_style.css">
</head>
    <body>
        <div class="overlay"></div>
        <div class="img-container">
            <img class="img" src="../static/images/main_image.jpg" alt="no image">
        </div>
        <div class="main">
            <h4> 피부타입 진단 질문이 시작되면 </h4>
            <h4> 해당하는 항목에 yes, 해당하지 않는 항목에 no를 누르세요 </h4>
            <h4> 응답을 완료한 후 본인에게 해당하는 피부고민을 체크하세요 </h4>
            <button class="btn" onclick="location.href='/ques_type'"> 시작하기 </button>
        </div>
</body>
</html>